@media only screen and (min-width: 150px) and (max-width: 168px) {
  body {
    font-size: 10px; } }

@media only screen and (min-width: 168px) and (max-width: 200px) {
  body {
    font-size: 11px; } }

@media only screen and (min-width: 200px) and (max-width: 290px) {
  body {
    font-size: 14px; } }

@media only screen and (min-width: 290px) and (max-width: 410px) {
  body {
    font-size: 18px; } }

@media only screen and (min-width: 410px) and (max-width: 638px) {
  body {
    font-size: 19px; } }

@media only screen and (max-width: 638px) {
  footer ul {
    flex-direction: column;
    align-items: center; }
  .navbar .nav-links {
    text-align: left;
    display: none;
    top: 100%;
    z-index: 1; }
    .navbar .nav-links li {
      display: block;
      margin-bottom: 0.5em;
      /* Add some spacing between each link */ }
      .navbar .nav-links li a {
        display: block;
        /* Display links as block elements */ }
  .navbar .show {
    display: block;
    /* Show the dropdown menu */ }
  #content {
    width: 100%; } }
