/* Загальні стилі*/
header {
    font-size: 19px;
    background-color: #41b3b3; /* Колір фону */
    color: #fff; /* Колір тексту */
    padding: 20px; /* Відступи всередині header */
    text-align: center; /* Вирівнювання тексту по центру */
    font-family: Verdana, sans-serif; /* Шрифт */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тінь */
    border-bottom: 2px solid #555; /* Додайте рамку знизу */
}

body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background: {
        color: #f2f2f2;
        size: cover;
        position: center;
        attachment: fixed;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif; /* Для заголовків використовуємо шрифт Montserrat. */
}

/* Стилі для навігації*/
.navbar {
    background-color: #444; /* Змінено колір для відмінності */
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Додавання тіні */
    
    h2 {
        color: white;
        margin: 0;
        padding: 0;
    }
    
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex; /* Змінено на flex */
        justify-content: center; /* Вирівнюємо по центру */
        align-items: center;
    }
    
    li {
        /* display: inline; */ /* Видалено, так як не потрібно при використанні flex */
        margin-right: 20px; /* Відступ між пунктами меню */
        transition: transform 0.3s ease; /* Анімація при наведенні миші */
        
        &:last-child {
            margin-right: 0; /* Відсутність відступу для останнього елементу */
        }
        
        &:hover {
            transform: translateY(-3px); /* Зміна положення при наведенні миші */
        }
    }
    
    a {
        color: white;
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 4px;
        border: 1px solid transparent;
        transition: background-color 0.3s ease, border-color 0.3s ease;
        
        &:hover {
            background-color: #ddd;
            border-color: #555;
        }
    }
}

/* Стилі для контейнера*/
.container {
    margin-top: 50px; /* Відступ зверху, щоб не перекривати навігацію */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; /* Додано можливість обгортання */
}

/* Стилі для селектора по id*/
#content {
    max-width: 800px;
    width: 70%;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    
    h2 {
        color: #333; /* Колір тексту */
        font-size: 24px; /* Розмір шрифту */
        margin-bottom: 20px; /* Відступ знизу */
        position: relative; /* Додати позицію для псевдоелемента */
        
        &::before {
            content: ""; /* Додати контент псевдоелемента */
            position: absolute; /* Зафіксувати позицію псевдоелемента */
            top: 0; /* Початок зверху */
            left: -20px; /* Зміщення вліво */
            width: 10px; /* Ширина лінії */
            height: 100%; /* Висота рівна висоті батьківського елемента */
            background-color: #666; /* Колір роздільної лінії */
        }
    }
    /* Стилі для списку*/
    ul {
        list-style-type: disc;
        line-height: 1.6;
        margin-bottom: 20px;
        hyphens: manual; /* Дозволяє автоматичну розбивку слів на склади */
        display: flex; /* Змінено на flex */
        flex-direction: column; /* Змінено на вертикальну орієнтацію */
    }
    /* Стилі для заголовків списку*/
    h3 {
        
        color: #333; /* Колір тексту */
        font-size: 1.5rem; /* Розмір шрифту */
        margin-top: 15px;
        padding-bottom: 5px; /* Додати відступ від розділювальної лінії */
        position: relative; /* Додати позицію для псевдоелемента */
        
        &::after {
            content: ""; /* Додати контент псевдоелементу */
            position: absolute; /* Зафіксувати позицію псевдоелемента */
            bottom: 0; /* Позиціонувати внизу */
            left: 0; /* Почати зліва */
            width: 50px; /* Ширина роздільної лінії */
            height: 2px; /* Висота роздільної лінії */
            background-color: #666; /* Колір роздільної лінії */
        }
    }

    /* Стилі для таблиці*/
    table {
        width: 100%;
        border-collapse: collapse;
    }

    /* Стилі для заголовків таблиці*/
    th {
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: left;
    }

    /* Стилі для комірок таблиці*/
    td {
        border: 1px solid #ddd;
        padding: 10px;
    }

    /* Стилі для непарних рядків таблиці*/
    tr:nth-child(odd) {
        background-color: #f2f2f2;
    }


}

/* Стилі для класу*/
.content-paragraph {
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Стилі для вбудованого розміщення CSS коду*/
section img {
    max-width: 100%;
    object-fit: contain;
    margin: 0 auto; /* Видалення відступів */
    border: none; /* Видалення рамки */
    max-height: 100vh; /* Обмеження висоти контейнера */
    display: block;
}

/* Стилі для footer*/
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    
    p {
        margin-bottom: 20px;
    }
    
    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 20px;
        display: flex; /* Змінено на flex */
        justify-content: center; /* Центрування елементів */
    }
    
    ul li {
        display: inline;
        margin-right: 20px;
    }
    
    ul li a {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease;
        
        &:hover {
            color: #ddd;
        }
    }
    
    .social-icons a {
        display: inline-block;
        margin-right: 10px;
        
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transition: transform 0.3s ease;
            
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

iframe {
    width: 100%; /* Займає всю доступну ширину */
    height: auto; /* Автоматична висота для збереження пропорцій */
    display: block; /* Робить відео блоковим елементом */
    margin: 0 auto; /* Центрує відео по горизонталі */
    max-width: 100%; /* Зберігаємо відео в межах контейнера */
}

@media only screen and (min-width: 150px) and (max-width: 168px) {
    .navbar {
        ul {
            flex-direction: column;
            align-items: center;
          }
      }

    footer{
        .social-icons a img {
            width: 20px;
            height: 20px;
          }
        ul {
            flex-direction: column;
            align-items: center;
          }
        p {
            margin-bottom: 5px;
        }
    } 
    .container {
        margin-top: 10px;
    }
    header {
        font-size: 12px;
        padding: 5px; /* Відступи всередині header */
    }
    body {
        font-size: 10px;
    }
    #content h2 {
        font-size: 15px;
        margin-bottom: 10px;
    }
    #content h3 {
        font-size: 0.8rem; /* Розмір шрифту */
    }
    #content ul{
        margin-left: -30px;
    }
    /* Стилі для заголовків таблиці*/
    #content th { 
        padding: 5px;
    }
    /* Стилі для комірок таблиці*/
    #content td {
        padding: 0px;
    }

  }

@media only screen and (min-width: 168px) and (max-width: 200px) {
    header {
        font-size: 12px;
        padding: 5px; /* Відступи всередині header */
    }
    body {
        font-size: 12px;
    }
    #content h2 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    #content h3 {
        font-size: 1.1rem; /* Розмір шрифту */
    }
    #content ul{
        margin-left: -30px;
    }
    /* Стилі для заголовків таблиці*/
    #content th { 
        padding: 5px;
    }
    /* Стилі для комірок таблиці*/
    #content td {
        padding: 5px;
    }

  }

@media only screen and (min-width: 200px) and (max-width: 290px) {
    header {
        font-size: 13px;
        padding: 5px; /* Відступи всередині header */
    }
    body {
        font-size: 14px;
    }
    h2 {
        font-size: 19px;
    }
    #content h3 {
        font-size: 1.2rem; /* Розмір шрифту */
    }
    #content ul{
        margin-left: -20px;
    }
    /* Стилі для заголовків таблиці*/
    #content th { 
        padding: 5px;
    }
    /* Стилі для комірок таблиці*/
    #content td {
        padding: 5px;
    }

  }
@media only screen and (min-width: 290px) and (max-width: 410px) {
    header {
        font-size: 16px;
    }
    body {
        font-size: 18px;
    }
    h2 {
        font-size: 22px;
    }
    #content h3 {
        font-size: 1.3rem; /* Розмір шрифту */
    }
    /* Стилі для заголовків таблиці*/
    #content th { 
        padding: 5px;
    }
    /* Стилі для комірок таблиці*/
    #content td {
        padding: 5px;
    }

  }
@media only screen and (min-width: 410px)and (max-width: 468px) {
    header {
        font-size: 17px;
        padding: 10px; /* Відступи всередині header */
    }
    body {
        font-size: 19px;
    }
    h2 {
        font-size: 23px;
    }
  }
@media only screen and (max-width: 638px) {
    #content {
        width: 100%;
      }
    .navbar {
        ul {
            list-style: none; /* Видаляє маркери списку */
            padding: 0; /* Видаляє зовнішні відступи */
        }

        li {
            text-align: center; /* Вирівнює текст по центру */
            margin-bottom: 10px; /* Додає відступ між пунктами меню */
            position: relative; /* Встановлює позицію для зміщення ефекту наведення */
        }

        a {
            display: block; /* Робить посилання блочними елементами */
            padding: 10px; /* Додає внутрішні відступи */
            text-decoration: none; /* Видаляє підкреслення посилань */
            transition: background-color 0.3s ease, color 0.3s ease; /* Плавна анімація зміни кольору фону та тексту */
        }

        li:hover a {
            background-color: #ddd; /* Змінює колір фону при наведенні */
            color: #333; /* Змінює колір тексту при наведенні */
        }
    }
}
@media only screen and (min-width: 638px) and (max-width: 768px) {
    .navbar {
        ul {
            list-style: none; /* Видаляє маркери списку */
            padding: 0; /* Видаляє зовнішні відступи */
        }

        li {
            text-align: center; /* Вирівнює текст по центру */
            margin-bottom: 10px; /* Додає відступ між пунктами меню */
            position: relative; /* Встановлює позицію для зміщення ефекту наведення */
        }

        a {
            display: block; /* Робить посилання блочними елементами */
            padding: 10px; /* Додає внутрішні відступи */
            text-decoration: none; /* Видаляє підкреслення посилань */
            transition: background-color 0.3s ease, color 0.3s ease; /* Плавна анімація зміни кольору фону та тексту */
        }

        li:hover a {
            background-color: #ddd; /* Змінює колір фону при наведенні */
            color: #333; /* Змінює колір тексту при наведенні */
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1064px) {
    .navbar{
        li{
            width: 50%; /* Кожен елемент займає половину ширини рядка */
            text-align: center; /* Вирівнює текст по центру */
            box-sizing: border-box; /* Враховує внутрішні відступи та рамки в розрахунках ширини */
            padding: 10px; /* Додає відступи */
        }
        a {
            display: block; /* Робить посилання блочними елементами */
            text-decoration: none; /* Видаляє підкреслення посилань */
            transition: background-color 0.3s ease, color 0.3s ease; /* Плавна анімація зміни кольору фону та тексту */
            padding: 8px 0; /* Додає відступи зверху та знизу */
          }
        li:hover a {
            background-color: #ddd; /* Змінює колір фону при наведенні */
            color: #333; /* Змінює колір тексту при наведенні */
          }
    }
  }