/* Загальні стилі*/
header {
    background-color: #41b3b3; /* Колір фону */
    color: #fff; /* Колір тексту */
    padding: 1em; /* Відступи всередині header */
    padding-left: 0.6em;
    padding-right: 0.6em;
    text-align: center; /* Вирівнювання тексту по центру */
    font-family: Verdana, sans-serif; /* Шрифт */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тінь */
    border-bottom: 1px solid #555; /* Рамка знизу */
}

body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background: {
        color: #f2f2f2;
        size: cover;
        position: center;
        attachment: fixed;
    }
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif; /* Для заголовків використовуємо шрифт Montserrat. */
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
    .menu-btn {
        background: none;
        border: none;
        color: white;
        font-size: 1.5rem;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }
    .menu-btn:hover {
        transform: scale(1.4); /* Збільшуємо розмір кнопки при наведенні */
        background-color: rgba(255, 255, 255, 0.1); /* Змінюємо колір фону при наведенні */
    }
    .nav-links {
        list-style: none;
        padding: 0;
        margin: 0;
        align-items: center;
        display: flex; /* Display links horizontally by default */
        position: absolute; /* Якщо забрати буде біля лого меню, але накладатимуться на інші елменти при меншій ширині*/
        left: 0;
        background-color: #333; /* Match the navbar background */
        width: 100%; /* Take full width */
        li {
            margin-right: 1em;
            width: 100%;
            a {
                text-decoration: none;
                color: white;
                padding: 0.25em 0.5em;
                border: 1px solid transparent;
                transition: border-color 0.3s ease;
                display: inline-block; /* Display links as inline-block elements */
            }
            a:hover {
                border-color: white;
            }
        }
        li:last-child {
            margin-right: 0; /* Remove margin from the last link */
        }
    }
  }
  
.container {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; /* Можливість обгортання */
}
/* Стилі для селектора по id*/
#content {
    max-width: 800px;
    width: 70%;
    background-color: #fff;
    padding-left: 1em;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 0.4rem;
    h2 {
        color: #333; 
        margin-bottom: 1rem; 
        position: relative; /* Позиція для псевдоелемента */
        
        &::before {
            content: ""; /* Контент псевдоелемента */
            position: absolute; /* Фіксування позиції псевдоелемента */
            top: 0; /* Початок зверху */
            left: -0.65em; 
            width: 0.25em; /* Ширина лінії */
            height: 100%; /* Висота рівна висоті батьківського елемента */
            background-color: #666;
        }
    }
    ul {
        list-style-type: disc;
        padding-inline-start: 1.2em;
        line-height: 1.6;
        margin-bottom: 1em;
        hyphens: manual;
        display: flex; /* Змінено на flex */
        flex-direction: column; /* Вертикальна орієнтація */
    }
    h3 { 
        color: #333; 
        margin-top: 1em;
        padding-bottom: 0.4em; 
        position: relative; /* Позиція для псевдоелемента */
        
        &::after {
            content: ""; /* Контент псевдоелемента */
            position: absolute; /* Фіксування позиції псевдоелемента */
            bottom: 0; /* Позиціонувати внизу */
            left: 0; /* Почати зліва */
            width: 2.5em; /* Ширина роздільної лінії */
            height: 0.2em;
            background-color: #666;
        }
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    /* Стилі для заголовків таблиці*/
    th {
        background-color: #333;
        color: #fff;
        padding: 0.3em;
        text-align: left;
    }
    /* Стилі для комірок таблиці*/
    td {
        border: 1px solid #ddd;
        padding: 0.23em;
    }
    /* Стилі для непарних рядків таблиці*/
    tr:nth-child(odd) {
        background-color: #f2f2f2;
    }


}
/* Стилі для класу*/
p {
    line-height: 1.6;
}

section img {
    max-width: 100%;
    object-fit: contain;
    margin: 0 auto; /* Видалення відступів */
    border: none; /* Видалення рамки */
    max-height: 100vh; /* Обмеження висоти контейнера */
    display: block;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    font-family: Arial, sans-serif;
    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 1em;
        display: flex;
        justify-content: center; /* Центрування елементів */
        li {
            display: inline;
            margin-right: 1em;
            a {
                color: #fff;
                text-decoration: none;
                transition: color 0.3s ease;
                
                &:hover {
                    color: #ddd;
                }
            }
        } 
    }
    .social-icons a {
        display: inline-block;
        margin-right: 0.5em;
        img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
            transition: transform 0.3s ease;
            
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

iframe {
    width: 100%; 
    display: block; /* Робить відео блоковим елементом */
    margin: 0 auto; /* Центрує відео по горизонталі */
    max-width: 100%;
}