/* Загальні стилі*/
header {
    background-color: #41b3b3; /* Колір фону */
    color: #fff; /* Колір тексту */
    padding: 1em; /* Відступи всередині header */
    padding-left: 0.6em;
    padding-right: 0.6em;
    text-align: center; /* Вирівнювання тексту по центру */
    font-family: Verdana, sans-serif; /* Шрифт */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тінь */
    border-bottom: 1px solid #555; /* Рамка знизу */
}

body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background: {
        color: #f2f2f2;
        size: cover;
        position: center;
        attachment: fixed;
    }
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif; /* Для заголовків використовуємо шрифт Montserrat. */
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
  }
  
.navbar .menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Додана анімація для зміни розміру та прозорості */
}

.navbar .menu-btn:hover {
  transform: scale(1.4); /* Збільшуємо розмір кнопки при наведенні */
  background-color: rgba(255, 255, 255, 0.1); /* Змінюємо колір фону при наведенні */
}
  
  
  .navbar .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex; /* Display links horizontally by default */
    position: absolute; /* Якщо забрати буде біля лого меню, але накладатимуться на інші елменти при меншій ширині*/
    //top: 100%; /* Якщо забрати буде на місці лого меню */
    left: 0;
    background-color: #333; /* Match the navbar background */
    width: 100%; /* Take full width */
}
  
  .navbar .nav-links li {
    margin-right: 20px;
    width: 100%;
  }
  
  .navbar .nav-links li:last-child {
    margin-right: 0; /* Remove margin from the last link */
  }
  
  .navbar .nav-links li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
    display: inline-block; /* Display links as inline-block elements */
    
}
  
  .navbar .nav-links li a:hover {
    border-color: white;
  }
  

.container {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; /* Додано можливість обгортання */
}
/* Стилі для селектора по id*/
#content {
    max-width: 800px;
    width: 70%;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    
    h2 {
        color: #333; 
        margin-bottom: 20px; 
        position: relative; /* Позиція для псевдоелемента */
        
        &::before {
            content: ""; /* Контент псевдоелемента */
            position: absolute; /* Фіксування позиції псевдоелемента */
            top: 0; /* Початок зверху */
            left: -20px; 
            width: 10px; /* Ширина лінії */
            height: 100%; /* Висота рівна висоті батьківського елемента */
            background-color: #666;
        }
    }
    ul {
        list-style-type: disc;
        line-height: 1.6;
        margin-bottom: 20px;
        hyphens: manual;
        display: flex; /* Змінено на flex */
        flex-direction: column; /* Змінено на вертикальну орієнтацію */
    }
    h3 { 
        color: #333; 
        margin-top: 15px;
        padding-bottom: 5px; 
        position: relative; /* Позиція для псевдоелемента */
        
        &::after {
            content: ""; /* Контент псевдоелемента */
            position: absolute; /* Фіксування позиції псевдоелемента */
            bottom: 0; /* Позиціонувати внизу */
            left: 0; /* Почати зліва */
            width: 50px; /* Ширина роздільної лінії */
            height: 2px;
            background-color: #666;
        }
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    /* Стилі для заголовків таблиці*/
    th {
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: left;
    }
    /* Стилі для комірок таблиці*/
    td {
        border: 1px solid #ddd;
        padding: 10px;
    }
    /* Стилі для непарних рядків таблиці*/
    tr:nth-child(odd) {
        background-color: #f2f2f2;
    }


}
/* Стилі для класу*/
p {
    line-height: 1.6;
    margin-bottom: 20px;
}

section img {
    max-width: 100%;
    object-fit: contain;
    margin: 0 auto; /* Видалення відступів */
    border: none; /* Видалення рамки */
    max-height: 100vh; /* Обмеження висоти контейнера */
    display: block;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    p {
        margin-bottom: 20px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 20px;
        display: flex;
        justify-content: center; /* Центрування елементів */
    }
    ul li {
        display: inline;
        margin-right: 20px;
    }
    ul li a {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease;
        
        &:hover {
            color: #ddd;
        }
    }
    .social-icons a {
        display: inline-block;
        margin-right: 10px;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transition: transform 0.3s ease;
            
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

iframe {
    width: 100%; 
    display: block; /* Робить відео блоковим елементом */
    margin: 0 auto; /* Центрує відео по горизонталі */
    max-width: 100%;
}
@media only screen and (min-width: 100px) and (max-width: 150px) {
      footer{
        padding-left: 20px;
        .social-icons a img {
            width: 20px;
            height: 20px;
            
          }
        ul {
            padding-left: 20px;
            flex-direction: column;
            align-items: center;
          }
        p {
            margin-bottom: 0px;
        }
    }
    body {
        font-size: 5.4px;
    }
    #content{
        padding-top: 0px;
        width: 100%;
        h2 {
            margin-bottom: 10px;
        }
        ul{
            margin-left: -30px;
            margin-bottom: 5px;
        }
        /* Стилі для заголовків таблиці*/
        th { 
            padding: 5px;
        }
        /* Стилі для комірок таблиці*/
        td {
            padding: 0px;
        }
    }
}
@media only screen and (min-width: 150px) and (max-width: 168px) {
    footer{
        .social-icons a img {
            width: 20px;
            height: 20px;
          }
        ul {
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;
          }
        p {
            margin-bottom: 5px;
        }
    } 
    body {
        font-size: 10px;
    }
    #content{
        padding-top: 2px;
        width: 100%;
        h2 {
            margin-bottom: 10px;
        }
        ul{
            margin-left: -30px;
        }
        /* Стилі для заголовків таблиці*/
        th { 
            padding: 5px;
        }
        /* Стилі для комірок таблиці*/
        td {
            padding: 0px;
        }
    }
}
@media only screen and (min-width: 168px) and (max-width: 200px) {
    footer{
        .social-icons a img {
            width: 22px;
            height: 22px;
          }
        ul {
            flex-direction: column;
            align-items: center;
          }
        p {
            margin-bottom: 6px;
        }
    } 
    body {
        font-size: 11px;
    }
    #content{
        padding-top: 3px;
        width: 100%;
        h2 {
        margin-bottom: 10px;
        }
        ul{
            margin-left: -30px;
        }
        /* Стилі для заголовків таблиці*/
        th { 
            padding: 5px;
        }
        /* Стилі для комірок таблиці*/
        td {
            padding: 1px;
        }
    }
}
@media only screen and (min-width: 200px) and (max-width: 290px) {
    footer{
        .social-icons a img {
            width: 24px;
            height: 24px;
          }
        ul {
            flex-direction: column;
            align-items: center;
          }
        p {
            margin-bottom: 6px;
        }
    } 
    body {
        font-size: 14px;
    }
    #content{
        padding-top: 4px;
        width: 100%;
        h2 {
        margin-bottom: 10px;
        }
        ul{
            margin-left: -20px;
        }
        /* Стилі для заголовків таблиці*/
        th { 
            padding: 5px;
        }
        /* Стилі для комірок таблиці*/
        td {
            padding: 1px;
        }
    }
}
@media only screen and (min-width: 290px) and (max-width: 410px) {
    footer{
        .social-icons a img {
            width: 26px;
            height: 26px;
          }
        ul {
            flex-direction: column;
            align-items: center;
          }
        p {
            margin-bottom: 7px;
        }
    }
    body {
        font-size: 18px;
    }
    #content{
        padding-top: 5px;
        width: 100%;
        h2 {
        margin-bottom: 10px;
        }
        /* Стилі для заголовків таблиці*/
        th { 
            padding: 5px;
        }
        /* Стилі для комірок таблиці*/
        td {
            padding: 5px;
        }
    }
}
@media only screen and (min-width: 410px)and (max-width: 468px) {
    footer{
        .social-icons a img {
            width: 28px;
            height: 28px;
          }
        ul {
            flex-direction: column;
            align-items: center;
          }
        p {
            margin-bottom: 8px;
        }
    }
    body {
        font-size: 19px;
    }
    #content{
        padding-top: 8px;
        width: 100%;
    }
}
@media only screen and (min-width: 468px) and (max-width: 638px) {
    footer{
        .social-icons a img {
            width: 30px;
            height: 30px;
          }
        ul {
            flex-direction: column;
            align-items: center;
          }
        p {
            margin-bottom: 9px;
        }
    }
    #content {
        padding-top: 10px;
        width: 100%;
      }
}
@media only screen and (max-width: 638px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #333;
        padding: 10px 20px;
      }
      
      .navbar .menu-btn {
        background: none;
        border: none;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
      }
      
      .navbar .nav-links {
        text-align: left;
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
        top: 100%;
        z-index: 1;
      }
      
      .navbar .nav-links li {
        display: block;
        margin-bottom: 10px; /* Add some spacing between each link */
      }
      
      .navbar .nav-links li a {
        text-decoration: none;
        color: white;
        padding: 5px 10px;
        border: 1px solid transparent;
        transition: border-color 0.3s ease;
        display: block; /* Display links as block elements */
      }
      
      .navbar .nav-links li a:hover {
        border-color: white;
      }
    
      .navbar .show {
        display: block; /* Show the dropdown menu */
      }
}

 