<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filters</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/media-queries.css">
</head>
<body>
    <div class="container">
        <section id="content">
            <h1>Фільтри опитувань</h1>
            
            <!-- Фільтр за віком -->
            <div>
                <h2>Фільтр за віком</h2>
                <select id="age-filter">
                    <option value="Молодше 18 років">Молодше 18 років</option>
                    <option value="18-30 років">18-30 років</option>
                    <option value="31-50 років">31-50 років</option>
                    <option value="Старше 50 років">Старше 50 років</option>
                </select>
                <button id="age-filter-button"class="button">Фільтрувати</button>
            </div>

            <!-- Фільтр за потребами -->
            <div>
                <h2>Фільтр за потребами</h2>
                <div class="checkbox-group">
                    <input type="checkbox" id="consultation-filter" name="services" value="Консультація">
                    <label for="consultation-filter">Консультація</label><br>
                    <input type="checkbox" id="feedback-filter" name="services" value="Відгук">
                    <label for="feedback-filter">Відгук</label><br>
                    <input type="checkbox" id="idea-filter" name="services" value="Ідея">
                    <label for="idea-filter">Ідея</label><br>
                    <input type="checkbox" id="other-filter" name="services" value="Інше">
                    <label for="other-filter">Інше</label><br>
                    <button id="services-filter-button"class="button">Фільтрувати</button>
                </div>
            </div>

            <!-- Фільтр за оцінкою сайту -->
            <div>
                <h2>Фільтр за оцінкою сайту</h2>
                <div class="range-container">
                    <input type="range" id="rating" name="rating" min="1" max="10" onchange="updateRatingValue(this.value)">
                    <output for="rating-filter" id="rating-output">5</output>
                    <button id="rating-filter-button"class="button">Фільтрувати</button>
                </div>
            </div>
            
            <!-- Відображення результатів опитувань -->
            <div id="survey-results">
                <!-- Сюди будуть додаватися результати опитувань після фільтрації -->
            </div>
        </section>
    </div>
    <footer>
        <p>&copy; 2024 Світ комп'ютерів</p>
        <ul>
          <li><a href="contact_form.html">Контакти</a></li>
          <li><a href="#">Політика конфіденційності</a></li>
          <li><a href="#">Умови використання</a></li>
          <li><a href="#">Довідка</a></li>
        </ul>
        <div class="social-icons">
          <a href="#"><img loading="lazy" src="../image/facebook.png" alt="Facebook"></a>
          <a href="#"><img loading="lazy" src="../image/telegram.png" alt="Telegram"></a>
          <a href="#"><img loading="lazy" src="../image/youtube.png" alt="YouTube"></a>
          <a href="https://electronics.lnu.edu.ua/"><img loading="lazy" src="../image/logo_faculty.svg" alt="Faculty"></a>
      </div>
    </footer>
    <script src="../script/filter.js"></script>
</body>
</html>
