<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style>
</style>
<link rel="stylesheet" href="../styles/style.css">
<link rel="stylesheet" href="../styles/media-queries.css">
</head>

<script src="../script/game.js"></script>

<body>
<div class="container">
    <section id="content">
        <div style="text-align:center;">
            <button onclick="startGame()" class="button">Почати гру / Перезапуск</button>
        </div>
        <div id="game"></div>
        <div id="buttonContainer">
            <button id="moveUpButton" onmousedown="moveup()" class="button" onmouseup="clearmove()" ontouchstart="moveup()">ВВЕРХ</button>
            <div>
                <button id="moveLeftButton" onmousedown="moveleft()" class="button" onmouseup="clearmove()" ontouchstart="moveleft()">ВЛІВО</button>
                <button id="moveRightButton" onmousedown="moveright()" class="button" onmouseup="clearmove()" ontouchstart="moveright()">ВПРАВО</button>
            </div>
            <button id="moveDownButton" onmousedown="movedown()" class="button" onmouseup="clearmove()" ontouchstart="movedown()">ВНИЗ</button>
        </div>
        

        </div>
    </section>
</div>
<footer>
        <p>&copy; 2024 Світ комп'ютерів</p>
        <ul>
          <li><a href="contact_form.html">Контакти</a></li>
          <li><a href="#">Політика конфіденційності</a></li>
          <li><a href="#">Умови використання</a></li>
          <li><a href="#">Довідка</a></li>
        </ul>
        <div class="social-icons">
          <a href="#"><img loading="lazy" src="../image/facebook.png" alt="Facebook"></a>
          <a href="#"><img loading="lazy" src="../image/telegram.png" alt="Telegram"></a>
          <a href="#"><img loading="lazy" src="../image/youtube.png" alt="YouTube"></a>
          <a href="https://electronics.lnu.edu.ua/"><img loading="lazy" src="../image/logo_faculty.svg" alt="Faculty"></a>
      </div>
    </footer>
</body>
</html>
