<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест з комп'ютерних знань</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/media-queries.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container">
        <section id="content">
            <div id="quiz"></div>
        </section>
    </div>
    
    <script src="../script/test.js"></script>
</body>
<footer>
    <p>&copy; 2024 Світ комп'ютерів</p>
    <ul>
      <li><a href="contact_form.html">Контакти</a></li>
      <li><a href="#">Політика конфіденційності</a></li>
      <li><a href="#">Умови використання</a></li>
      <li><a href="#">Довідка</a></li>
    </ul>
    <div class="social-icons">
      <a href="#"><img loading="lazy" src="../image/facebook.png" alt="Facebook"></a>
      <a href="#"><img loading="lazy" src="../image/telegram.png" alt="Telegram"></a>
      <a href="#"><img loading="lazy" src="../image/youtube.png" alt="YouTube"></a>
      <a href="https://electronics.lnu.edu.ua/"><img loading="lazy" src="../image/logo_faculty.svg" alt="Faculty"></a>
  </div>
</footer>
</html>