@media only screen and (min-width: 150px) and (max-width: 168px) {
    body {
        font-size: 10px;
    }
}
@media only screen and (min-width: 168px) and (max-width: 200px) {
    body {
        font-size: 11px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 290px) {
    body {
        font-size: 14px;
    }
}
@media only screen and (min-width: 290px) and (max-width: 410px) {
    body {
        font-size: 18px;
    }
}
@media only screen and (min-width: 410px) and (max-width: 638px) {
    body {
        font-size: 19px;
    }
}
@media only screen and (max-width: 638px) {
    footer{
        ul {
            flex-direction: column;
            align-items: center;
          }
    }
    .navbar {
        .nav-links {
            text-align: left;
            display: none;
            top: 100%;
            z-index: 1;
            li {
                display: block;
                margin-bottom: 0.5em; /* Add some spacing between each link */
                a {
                    display: block; /* Display links as block elements */
                }
            }
        }
        .show {
            display: block; /* Show the dropdown menu */
        }
    } 
    #content {
        width: 100%;
        // #buttonContainer {
        //     display: flex;
        // }
    }
}
@media only screen and (max-width : 1050px){
    #survey-results{
        table {
            border: 0;
            caption {
                font-size: 1.3em;
            }
            thead {
                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }
            tr {
                border-bottom: 3px solid #ddd;
                display: block;
              }
            td {
                border-bottom: 1px solid #ddd;
                display: block;
                text-align: right;
            }
            td::before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }
            td:last-child {
                border-bottom: 0;
            }
          } 
    }
}

 